
			/* <[CDATA[ */
			 #ttt {
			
			
				font: normal normal normal 1em/100%   tahoma; 
			
			 		 /*
				 font-style:normal;
				  font-variant:normal;
				  font-weight:normal;
				   font-size:1em/1.5;
				    font-family:Georgia , Serif; 
*/
				    margin-top:65px;
				    
				    margin-bottom:-40px;
				    
				
			}
			
		
			a img { border: none; }
			
			.roundabout-holder {
				list-style: none;
				width: 400px;
				height: 10em;
				margin: 1em auto;
			}
			
			.roundabout-moveable-item {
				/*height: 10em;
				width: 15em;*/
				height:281px;
				 width  :205px;
				cursor: pointer;
			}
			
			.roundabout-moveable-item img {
				width: 100%;
				 height: 100%;
		 
			}
			
			.roundabout-in-focus {
				cursor: auto;
			}
			
			#filler {
				text-align: center;
				height: 11em;
				margin-top:2
			}
			/* ]]> */
			
