.RadMenu_bw
{	
	font:11px/15px tahoma;
    top: 0px;
    left: -1px;
}


.RadMenu_bw .group, 
.RadMenu_bw .rootGroup
{
	
	border-bottom:1px solid #000000;
	 border-top :1px solid #000000;
	 	border-right:1px solid #000000;
	
}

.RadMenu_bw .horizontal
{
	border-left:0;
}

.RadMenu_bw .vertical
{
	border-top:0;
}

.RadMenu_bw .link:hover
{
	background-color:Black ;
	color:#fffffc;
	cursor:pointer;
}


.RadMenu_bw .link,
.RadMenu_bw .disabled,
.RadMenu_bw .disabled:hover
{
	color:#ffffff;
	padding:3px 6px;
	text-decoration:none;
	background-color:#fffffc;
	cursor:pointer;
	background-color:#9A0303;
	direction:rtl ;
}

.RadMenu_bw .text
{
	cursor:pointer;
	padding:0 15px;
}

.RadMenu_bw .horizontal .link
{
	border-left:1px solid #000000;
	border-top:0;
}

.RadMenu_bw .vertical .link
{
	border-left:0;
	border-top:1px solid #000000;
}




.RadMenu_bw .link:hover .expandLeft,
.RadMenu_bw .link:hover .expandRight
{
	background-image:url(Img/arrowWhite.gif);
}


.RadMenu_bw .expandLeft,
.RadMenu_bw .expandRight,
.RadMenu_bw .disabled:hover .expandLeft,
.RadMenu_bw .disabled:hover .expandRight
{
	background:transparent url('Img/arrow.gif') right center no-repeat;
}

.RadMenu_bw_rtl .expandLeft,
.RadMenu_bw_rtl .expandRight
{
	background: transparent url(img/left.gif) left center no-repeat;
	
}

/* right to left */
.RadMenu_bw_rtl .group .link:hover .expandLeft,
.RadMenu_bw_rtl .group .link:hover .expandRight
{
	background:transparent url(img/invertedGroupImageRTL.gif) left center no-repeat;
	margin: 0px;
	
}

.RadMenu_bw .leftArrow,
.RadMenu_bw .rightArrow,
.RadMenu_bw .topArrow,
.RadMenu_bw .bottomArrow,
.RadMenu_bw .leftArrowDisabled,
.RadMenu_bw .rightArrowDisabled,
.RadMenu_bw .topArrowDisabled,
.RadMenu_bw .bottomArrowDisabled
{
	background: #666655 url('img/left.gif') center center no-repeat;
	width: 15px;
}

.RadMenu_bw .topArrow,
.RadMenu_bw .topArrowDisabled
{
	background-image:url('img/top.gif');
	width: 100%;
}

.RadMenu_bw .bottomArrow,
.RadMenu_bw .bottomArrowDisabled
{
	background-image:url('img/bottom.gif');
	width: 100%;
}

.RadMenu_bw .rightArrow,
.RadMenu_bw .leftArrow
{
	height:100%;
}

.RadMenu_bw .rightArrow,
.RadMenu_bw .rightArrowDisabled
{
	background-image:url('img/right.gif');
}
